{% extends "layout.html" %}
{% from "macros.html" import render_field, render_select_field2, render_picture_field %}
{% block content %}

  <div class="row align-items-center justify-content-center">
    <div class="content-section col-md-10">

      <div class="panel-body">

        <div class="modal-body">

          <form action="" method="POST">
          {{ form.csrf_token }}

            <fieldset class="form-group">

              <legend class="border-bottom mb-4">

                {% if title %} {{ title }}
                {% else %} Título
                {% endif %}

                <button type="button" class="close" title="Fechar" onclick="window.location.href = '{{ url_for('conta.acessar') }}';">
                &times;
                </button>

              </legend>

              <div class="content-section bg-light rounded-lg">
                <div class="row mb-2">
                  <div class="col-sm-4">
                    {{ render_field(form.nomeusuario) }}
                  </div>
                  <div class="col-sm-8">
                    {{ render_field(form.email) }}
                  </div>
                  <div class="col-sm-6">
                    {{ render_field(form.senha) }}
                  </div>
                  <div class="col-sm-6">
                    {{ render_field(form.confirmasenha) }}
                  </div>
                </div>
              </div>

              <br><h4>Dados do Usuário da Conta</h4><br>

              <div class="content-section bg-light rounded-lg">
                <div class="row mb-2">
                    <div class="col-sm-7">
                      {{ render_field(form.nomecompleto) }}
                    </div>
                    <div class="col-sm-5">
                      {{ render_field(form.nomeguerra) }}
                    </div>
                    <div class="col-sm-6">
                      {{ render_field(form.datanascimento) }}
                    </div>
                    <div class="col-sm-6">
                      {{ render_field(form.matricula) }}
                    </div>
                    <div class="col-sm-4">
                      {{ render_field(form.cpf) }}
                    </div>
                    <div class="col-sm-8">
                      {{ render_picture_field(form.foto) }}
                    </div>
                    <div class="col-sm-11">
                      {{ render_select_field2(form.setor_id) }}
                    </div>
                    <div class="col-sm-1">
                      <!-- Botão Modal Pesquisar -->
                      <label class="form-control-label" for="pesquisar_id"></label>
                      <a id="pesquisar_id" class="btn btn-ligth float-sm-right my-2" data-toggle="modal" href="#pesquisarModal" title="Pesquisar">
                        <i class="material-icons">search</i>
                      </a>

                    </div>

                    <!-- Modal Pesquisar Dados -->
                    <div class="modal fade" id="pesquisarModal">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">

                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Pesquisar</h5>
                            <button type="button" class="close" title="Fechar" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>

                          <div class="modal-body">
                            <div class="container bg-light border rounded-lg">
                              <div class="row mb-2">

                                <div class="col-sm-12">
                                  {{ form.pesquisarpor.label(class="form-control-label") }}
                                  <div class="row">
                                  <div class="col-sm-12">
                                    {{ form.pesquisarpor(class="form-control form-control-lm") }}
                                  </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>

                          <div class="modal-footer">
                            <!-- Botão Modal Pesquisar -->
                            <a class="btn btn-outline-info my-2" href="{{ url_for('conta.incluir') }}" title="Pesquisar">Pesquisar
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                    <!-- Fim Modal Pesquisar -->

                </div>
              </div>

            </fieldset>

            <div class="modal-footer">
              <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>

{% endblock content %}
